$colors: (
  primary: (
    100: #fffcf5,
    300: #fffbf0,
    400: #FFF5E0,
    500: #ffebc1,
    600: #6b5c33,
    700: #463300
  ),
  neutral: (
    100: #ffffff,
    200: #cccccc,
    300: #999999,
    400: #666666,
    500: #333333,
    600: #000000
  ),
);
